.li {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  background-color: rgba(244, 240, 240, 0.7);

  box-shadow: #ffffff;
  border-bottom: 2px solid #ffffff;
}
